@import url('https://fonts.googleapis.com/css?family=Saira:200,400,700');

h1 {
    font-family: 'Saira', sans-serif;
    color: rgba(221,213,224,1);
    text-align: center;
    font-size: 40px;
}
h1::before {
    content:"US EAST - DEV";
}
body{
    background: #FBF9FA;
}

img#us {
    display: block;
    margin: auto;
    width: 700px;
}
#ping {
  display: flex;
  justify-content: center;
}
#ping #box {
    background: rgba(0,0,0,.1);
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 100px;
    font-family: 'Saira', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    overflow-y: scroll;
}