@import url('https://fonts.googleapis.com/css?family=Saira:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

h1 {
    font-family: 'Saira', sans-serif;
    color: rgba(221,213,224,1);
    text-align: center;
    font-size: 40px;
}
h1::before {
    content:"US EAST - DEV";
}
body{
    background: #FBF9FA;
}

img#us {
    display: block;
    margin: auto;
    width: 700px;
}
#ping {
  display: flex;
  justify-content: center;
}
#ping #ping-west #box, #ping #ping-east #box {
    background: rgba(0,0,0,.02);
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 150px;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    overflow-y: scroll;
}

#ping #ping-west #title, #ping #ping-east #title {
    margin: 5px;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(121,113,124,1);
}
#nav {
  display: flex;
  justify-content: center;
}
#datadog {
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#datadog:hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}